.center
{
    margin:auto;
    width: 80%;
    padding: 20;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.errorbox
{
    margin:auto;
    width: 40%;
    padding: 6px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color:cornsilk;
}

.errorbox.active {
    display: block;
}

.errorbox:not(.active) {
    display: none;
}

.tabs {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px;
}


.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}



.tabs button:hover {
    background-color: #ddd;
}


.tabs button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.hmwr-title
{
    text-align: left;
    margin-left: 20px; 
}

.inputstyle
{
    width: 400px; 
    height: 25px;
    border: 2px solid #696262;
    border-radius: 5px;
}

.inputbuttonstyle
{
    height: 30px;
    border: 2px solid #7e7676;
    border-radius: 5px;
}